.bg{
    background-image: url("assets/brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #171717; /* Used if the image is unavailable */
    /* height: 1500px; */
    background-size: cover;
    overflow: auto;
    height: 100vh;
}

.navbar{
    background-color: #171717;
    
}
.is-active{
    background-color: #171717;
}
.profilePic{
    float: right;
    margin-right: 5%;
    width: 20%;
}