.bg{
    background-image: url("assets/brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #171717; /* Used if the image is unavailable */
    /* height: 1500px; */
    background-size: cover;
    overflow: auto;
    height: 100vh;
}

.navbar{
    background-color: #171717;
    
}
.is-active{
    background-color: #171717;
}
.profilePic{
    float: right;
    margin-right: 5%;
    width: 20%;
}
h3{
    text-decoration: underline;
    padding: 10px;
}

h4{
    text-decoration: underline;
    padding-bottom: 10px;
}

p {
    text-align: justify;
}

/* services page animation found at https://uicookies.com/bootstrap-animation/*/

.cardImg {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
}
.cardImg img {
	width: 100%;
	/* height: 700px; */
}
.cardImg .cardText {
	width: 70%;
	/* height: 80%;	 */
	padding: 5% 8%;
	position: absolute;
	content: "";
	top:60%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(15, 15, 15, 0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
    font-weight: 500;
    color: white;
	
}
.cardImg:hover .cardText {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}

